@import '../../dumb/slider-control/slider-control.less';
@import '../../../styles/variables/sizes.less';
@import '../../../styles/variables/colours.less';

characters-slider {
	display: block;
	white-space: nowrap;
	position: relative;
	padding: 26px 0;
	overflow: hidden;
}

inline-characters {
	color: white;
	display: block;
	padding: 0;
	margin: 0;
	white-space: nowrap;
	transition: transform 0.4s;
	overflow: visible;
}

.borderContainer {
	position: absolute;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
}

.borderContainerTop {
	top: 0;
}

.borderContainerBottom {
	bottom: 0;
	transform: scaleY(-1);
}

.border {
	flex-shrink: 0;
	height: 26px;
	width: 284px;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url('../../../../assets/images/slider-border.png');
	overflow: hidden;
}
.borderTopLeft {
	margin-right: 7em;
}

.borderBottomLeft {
	margin-right: 2em;
}

.borderTopRight {
	transform: scaleX(-1);
}

.borderBottomRight {
	transform: scaleX(-1);
}

.sliderMessage {
	margin: 0 auto;
	text-align: center;
	white-space: normal;
	padding: 1.3em 0;
}

.container {
	background: @card-bg;
	composes: low from '../../../styles/box-shadow/box-shadow.less';
	position: relative;
	padding: 0 @slidercontrol-width * 1%;
	overflow: visible;
	white-space: nowrap;
	min-height: 4rem;
}

@media only screen and (min-width: @mobile) {
	.container {
		padding: 0 @slidercontrol-width-mobile * 1%;
	}
}

@media only screen and (min-width: @tablet) {
	.container {
		padding: 0 @slidercontrol-width-tablet * 1%;
	}
}

@media only screen and (min-width: @pc) {
	.container {
		padding: 0 @slidercontrol-width-pc * 1%;
	}
}

@media only screen and (min-width: @big-pc) {
	.container {
		padding: 0 @slidercontrol-width-bigpc * 1%;
	}
}