<div class="characters-slider-border-container top">
	<div class="characters-slider-border top-left"></div>
	<div class="characters-slider-border right"></div>
</div>

<div class="characters-slider-container">
	<slider-control
		mode="left"
		ng-if="!ctrl.sliderControlsDisabled"
		ng-click="ctrl.previous()"></slider-control>

	<div class="slider-message" 
		ng-if="!ctrl.hasCharacters">
		Oh, you have no characters.. why not <a href="/settings"><strong>add a few api tokens</strong></a> to your account?
	</div>

	<inline-characters
		ng-show="ctrl.hasCharacters" 
		ng-style="ctrl.sliderStyle"
		characters="ctrl.characters"></inline-characters>

	<slider-control
		mode="right"
		ng-if="!ctrl.sliderControlsDisabled"
		ng-click="ctrl.next()"></slider-control>
</div>

<div class="characters-slider-border-container bottom">
	<div class="characters-slider-border bottom-left"></div>
	<div class="characters-slider-border right"></div>
</div>