.user-status {
	display: flex;
	align-items: center;
	font-size: 1em;
	justify-content: flex-end;

	li {
		padding: 0.5em 0.75em;
		display: inline-block;

		> a {
			font-weight: bold;
		}

		i {
			font-size: 1.8em;
		}
	}
}

user-links {
	display: block;
	padding: 0.2em;
	width: 100%;
}