@import '../../../styles/variables/colours.less';
@import '../../../styles/variables/sizes.less';

.userLinks {
	display: flex;
	font-size: 1em;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	position: absolute;
	top: 0;
	right: 0;
	padding: 0;

	background: transparent;
	margin-top: 3.7em;

	li {
		display: inline-block;

		> a {
			color: white;
			padding: 0.5em 0.75em;
			font-weight: bold;
		}

		search-box {
			padding: 0.5em 0.75em;
		}

		i {
			font-size: 1.8em;
		}
	}
}

user-links {
	display: block;
	padding: 0.2em;
	width: 100%;
	padding: 0.5em;
}

@media only screen and (min-width: @mobile) {
	.userLinks {
		li {
			> a {
				color: #212121;
			}
		}
	}
}

@media only screen and (min-width: @tablet) {
	.userLinks {
		background: @background;
		margin-top: 0;
	}
}