@large-card: 100%;
@medium-card: 500px;
@small-card: 200px;

.card {
	padding: 2em;
	border-radius: 1px;
	.box-shadow-low;
	margin: 0 0 4em 0;
	width: 100%;
	flex-grow: 0;
}

.card-primary {
	background: @card-bg;
}

@media only screen and (min-width: @mobile) {
	.card {
		flex-grow: 1;
	}

	.card-small {
		width: @mobile - 50%;
	}

	.card-medium {
		width: @mobile - 20;
	}
}

@media only screen and (min-width: @tablet) {
	.card-medium {
		padding: 3em;
		width: @tablet - 20;
	}
}

@media only screen and (min-width: @pc) {

}

@media only screen and (min-width: @big-pc) {

}