.container {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	min-height: 100%;
}

@media only screen and (min-width: @mobile) {
	.container {
	  // padding: 0 0.5em;
	}
}

@media only screen and (min-width: @tablet) {
	.container {
	  max-width: @tablet * 1.2;
	  // padding: 0 1em;
	}
}

@media only screen and (min-width: @pc) {
	.container {
	  max-width: @pc;
	}
}

@media only screen and (min-width: @big-pc) {
	.container {

	}
}