<div ng-if="ctrl.hasUpgrade">
	<div class="tooltip-gap"></div>

	<div class="blue">
		<span class="icon icon-micro" style="background-image: url('{{ ctrl.upgrade.icon }}')"></span>

		<span>{{ ctrl.upgrade.name }}</span>

		<span ng-if="ctrl.hasBonuses">
			{{ '(' + ctrl.upgrade.upgrade_combo_count + '/' + ctrl.upgrade.details.bonuses.length + ')' }}
		</span>
	</div>

	<div ng-if="ctrl.hasBonuses">
		<div ng-repeat="(key, bonus) in ctrl.upgrade.details.bonuses">
			<span ng-class="{ 'blue': key < ctrl.upgrade.upgrade_combo_count }">
				{{ '(' + (key + 1) + '): ' + bonus }}
			</span>
		</div>
	</div>

	<div ng-if="ctrl.hasBuffs">
		<div class="blue" ng-repeat="buff in ctrl.upgrade.details.infix_upgrade.buff.description">
			{{ buff }}
		</div>
	</div>
</div>

<div ng-if="!ctrl.hasUpgrade">
	<div class="tooltip-gap"></div>

	<span class="icon icon-micro icon-upgrade"></span>
	<span>Unused Upgrade Slot</span>
</div>