@thick-width: 224;
@thin-width: 84;

.character-top-strip {
	padding: 0.5em;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.character-title {
	overflow: auto;
}

.character-name {
	font-size: 3.25em;
	display: block;
	margin: 0 0 -0.2em 0;
}

.character-level {
	font-size: 1.5em;
	margin-left: 0.2em;
	display: block;
}

.character-portrait-container {
	position: relative;
	display: block;
	width: 100%;
	align-self: stretch;
	margin-bottom: -2em;
}

.character-portrait-container:before {
	content: "";
	display: block;
	padding-top: 200%;
}

.character-profession-icon {
	width: 128px;
	height: 128px;
	margin: 0.5em auto;
	display: block;
}

.character-equipment-cluster {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0.25rem;
}

.character-info-left {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.character-content {
	display: flex;
	flex-direction: column;
}

.character-content-inner {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.character-info-right {
	text-align: center;
}

// todo: move portrait-top-out one layer lower. its over character atm should be behind.

@media only screen and (min-width: @mobile) {
	.character-profession-icon {
		margin: 0.5em;
	}

	.character-top-strip {
		flex-direction: row;
		align-items: center;
		text-align: left;
	}

	.character-title {
		margin-top: 0.75em;
	}

	.character-content-inner {
		flex-direction: row;
	}

	.character-portrait-container {
		// width: 67%;
	}

	.character-info-right {
		width: @thick-width * 1px;
		margin-top: 15px;
	}

	.character-equipment-cluster {
		margin-right: 0;
	}
}

@media only screen and (min-width: @tablet) {
	.character-portrait-container {
		// width: 65%;
	}

	.character-info-right {
		width: 330px;
	}
}

@media only screen and (min-width: 845px) {
	.character-info-left {
		justify-content: flex-start;
		flex-direction: column;
	}

	.character-portrait-container {
		margin-top: -35px;
	}

	.character-content {
		flex-direction: row;
		max-width: 820px;
	}

	.character-info-right {
		margin: 0;
	}

	.character-equipment-cluster {
		// width: @thick-width * 1px;
	}

	.character-info-left {
		width: @thin-width * 1px;
	}

	.character-portrait-container:before {
		padding-top: 175%;
	}
}

@media only screen and (min-width: @big-pc) {

}