@thick-width: 235;
@thin-width: 76;

.character-title-strip {
	padding: 0.5em;
	position: relative;
	overflow: auto;
	text-align: center;
}

.character-title {
	overflow: auto;
}

.character-name {
	font-size: 2.5em;
	display: block;
}

.character-level {
	font-size: 1.5em;
	display: block;
}

.character-portrait-container {
	position: relative;
	display: block;
	// height: 30em;
	width: 100%;
	// overflow: hidden;
}

.character-portrait-container:before {
	content: "";
	display: block;
	padding-top: 200%;
}

.character-equipment-cluster {
	overflow: auto;
}

.character-profession-icon {
	width: 128px;
	height: 128px;
	margin: 0.5em;
	display: inline-block;
}

.character-info-left {
	text-align: center;
}

// todo: move portrait-top-out one layer lower. its over character atm should be behind.

@media only screen and (min-width: @mobile) {

}

@media only screen and (min-width: @tablet) {

}

@media only screen and (min-width: @pc) {

}

@media only screen and (min-width: @big-pc) {

}

.character-content {
	display: flex;
	flex-direction: column;
}