@import '../../../styles/variables/colours.less';
@import '../../../styles/variables/sizes.less';
@import '../../dumb/slider-control/slider-control.less';

characters-grid {
	display: block;
	position: relative;
	padding: 26px 0;
	overflow: hidden;
}

.grid {
	white-space: inherit;
}

.sliderMessage {
	display: block;
	margin: 0 auto;
	text-align: center;
	white-space: normal;
	padding: 1.3em 0;
}

.progress {
	display: block;
	text-align: center;
}

.container {
	background: @card-bg;
	composes: low from '../../../styles/box-shadow/box-shadow.less';
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.slider {
	white-space: nowrap;
}