.sticky {
	position: absolute;
}

.right {
	right: 0;
}

.top {
	top: 0;
}

.left {
	top: 0;
}

.bottom {
  bottom: 0;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

.floatClear {
	clear: both;
}

.center {
	margin: 0 auto;
}