<div ng-mouseover="ctrl.setTooltipVisibility(true)"
		ng-mouseleave="ctrl.setTooltipVisibility(false)"
		class="item-container item-default"
		style="background-image: url('{{ ctrl.typeBackground }}')"
		ng-class="ctrl.mode">
	<div class="item" style="background-image: url('{{ ctrl.isLoaded() ? ctrl.iconUrl : '' }}')">
		<div ng-class="ctrl.mode" ng-if="ctrl.isBusy()" class="progress-indicator animating"></div>
	</div>
</div>

<item-tooltip item="ctrl.item" slot-name="{{ ctrl.slotName }}" ng-if="ctrl.getTooltipVisibility()"></item-tooltip>