<div ng-style="ctrl.footerSpacerStyle"></div>

<div class="footer footer-default container with-columns">
	<ul class="footer-links">
		<li><a title="Guild Wars 2 Armory Sub-reddit" href="https://www.reddit.com/r/gw2armory">/r/gw2armory</a></li>
		<li><a title="Guild Wars 2 Homepage" href="https://www.guildwars2.com">guildwars2.com</a></li>
		<li><a title="ArenaNet Homepage" href="https://www.arena.net">arena.net</a></li>
		<li><a title="Madou's github page" href="https://www.github.com/madou">github</a></li>
	</ul>

	<p>
		©2010–2015 ArenaNet, LLC. All rights reserved. Guild Wars, Guild Wars 2, Guild Wars 2: Heart of Thorns, ArenaNet, NCSOFT, the Interlocking NC Logo, and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation. All other trademarks are the property of their respective owners.
	</p>
</div>