/* Do not remove this comments bellow. It's the markers used by wiredep to inject
   less dependencies when defined in the bower.json of your dependencies */
// bower:less
// endbower
// 
// todo: refactor styles into proper structure/presentation/helpers

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

.serif {
  font-family: 'Menomonia';
}

.medium { 
  font-size: 1.25em;
}

* {
  box-sizing: border-box;
}

.pixelsated {
  image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.sticky-bottom {
  position: absolute;
  bottom: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.float-clear {
	clear: both;
}

.text-top {
  vertical-align: top;
}

.text-middle {
  vertical-align: middle;
}

.text-bottom {
  vertical-align: bottom;
}

.ng-hide {
  transition: 2s all;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your less files automatically */
// injector
// endinjector
