@tooltip-opacity: 0.5;

.item-tooltip-container {
	font-family: 'Open Sans', sans-serif;
	margin-left: 10px;
	margin-top: 10px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4); 
	font-size: 1rem;
	padding: 5px;
	z-index: @top-z;
	text-align: left;
	font-size: 14px;
	border-radius: 1px;
	box-shadow: 1px 1px 2px rgb(0, 0, 0);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, @tooltip-opacity);
	pointer-events: none; // todo: this may be a problem when handling touch devices
	color: @gray;
	text-shadow: 1px 1px 1px rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, @tooltip-opacity);
	max-width: 313px;

 	border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, @tooltip-opacity);

	background-size: 630px 647px;
	background-clip: padding-box;
	background-image: url('../assets/images/tooltip-bg.png');
}

.item-name {
	font-size: 18px;
	height: 40px;
	display: table-cell;
	vertical-align: middle;
}

.item-pre-header {
	font-size: 16px;
}

.tooltip-icon {
	border-radius: 1px;
	border: 1px solid white;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}

.tooltip-gap {
	height: 18px;
	display: block;
}

.item-header {
	overflow: auto;
}

.item-cost {
	margin-left: 4px;
	position: relative;
}