<!-- todo: clean up logic in this view bro -->
<!-- todo: styling man -->

<div mouse-follow class="item-tooltip-container pixelated">
	<div ng-if="!ctrl.isBusy()">
		<i class="dark-gray">{{ ctrl.typeName }}</i>

		<div class="item-tooltip-content" ng-if="ctrl.isLoaded()">
			<div class="item-header">
				<span class="text-middle icon icon-mini tooltip-icon" style="background-image: url('{{ ctrl.model.icon }}')"></span>
				<span class="text-middle item-name" ng-class="ctrl.model.rarity.toLowerCase()">{{ ctrl.model.name }}</span>
			</div>

			<div class="item-is-gear">
				<div ng-if="ctrl.model.details.defense">Defense: <span class="green">{{ ctrl.model.details.defense }}</span></div>
				
				<!-- todo: parse some values that are one word into do (i.e. conditiondamage -> condition damage) -->
				<div class="green" ng-repeat="infix in ctrl.model.details.infix_upgrade.attributes">
					{{ '+' + infix.modifier + ' ' + infix.attribute }}
				</div>

				<div class="tooltip-gap"></div>

				<!-- todo: make upgrade into a component, too much logic up in this bitch -->
				<div ng-if="ctrl.model.details.upgrade_one" class="item-first-upgrade">
					<div class="blue">
						<span style="background-image: url('{{ ctrl.model.details.upgrade_one.icon }}')"></span>
						<span>{{ ctrl.model.details.upgrade_one.name }}</span>
						<span ng-if="ctrl.model.details.upgrade_one.details.bonuses">{{ '(' + ctrl.model.details.upgrade_one.total_count + '/' + ctrl.model.details.upgrade_one.details.bonuses.length + ')' }}</span>
					</div>

					<div ng-if="ctrl.model.details.upgrade_one.details.bonuses" ng-repeat="(key, bonus) in ctrl.model.details.upgrade_one.details.bonuses">
						<span ng-class="{ 'blue': key < ctrl.model.details.upgrade_one.total_count }">{{ '(' + (key + 1) + '): ' + bonus }}</span>
					</div>

					<!-- todo: split the buff string into array ('\n') and then put on new lines -->
					<div ng-if="ctrl.model.details.upgrade_one.details.infix_upgrade.buff">
						{{ ctrl.model.details.upgrade_one.details.infix_upgrade.buff.description }}
					</div>
				</div>

				<div ng-if="ctrl.model.isTwoHanded" class="item-second-upgrade">
					<div class="tooltip-gap"></div>
					<!-- todo: implent second slot for 2hand weapons -->
					ayy slot abailable lol
				</div>

				<div class="tooltip-gap"></div>

				<div class="skin-details">
					<div ng-if="ctrl.model.original_name">Transmuted</div>

					<!-- todo: if account owned skins is released make this update if the user is logged in -->
					<div ng-if="!ctrl.model.original_name">Skin Locked</div>
					{{ ctrl.model.original_name || ctrl.model.name }}
				</div>
			</div>

			<div class="tooltip-gap"></div>

			<div class="item-summary">
				<div>{{ ctrl.model.rarity }}</div>
				<div>{{ ctrl.model.details.weight_class }}</div>
				<div>{{ ctrl.model.details.type }} {{ ctrl.model.type }}</div>
				<div>{{ ctrl.model.description }}</div>
				<div ng-if="ctrl.model.level">{{ 'Required Level: ' + ctrl.model.level }}</div>
				<div>{{ ctrl.model.boundStatus }}</div>
				<div class="item-cost">
					<span class="gold" ng-if="ctrl.model.gold">{{ ctrl.model.gold }}<span class="icon icon-micro icon-gold"></span></span>
					<span class="silver" ng-if="ctrl.model.silver">{{ ctrl.model.silver }}<span class="icon icon-micro icon-silver"></span></span>
					<span class="copper" ng-if="ctrl.model.copper">{{ ctrl.model.copper }}<span class="icon icon-micro icon-copper"></span></span>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.isBusy()" class="progress-indicator animating"></div>
</div>