.item-container {
	width: 64px;
	height: 64px;
	border-width: 2px;
	font-size: 0;

	&.small {
		width: 43px;
		height: 43px;

		.item {
			width: 43px;
			height: 43px;	
		}
	}
}

item-holder {
	margin: 0.1rem;
	font-size: 0;
	display: inline-block;
}

.item {
	width: 64px;
	height: 64px;	
}

.item-tooltip {

}