.item-container {
	width: 64px;
	height: 64px;
	border-width: 2px;
	float: left;
	margin: 0.25em;
}

.item {
	width: 64px;
	height: 64px;	
}

.item-tooltip {

}

//https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia.css
//https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/menomonia-italic.css