<div ng-mouseover="ctrl.setTootipVisibility(true)"
		ng-mouseleave="ctrl.setTootipVisibility(false)"
		class="item-container item-default"
		style="background-image: url('{{ ctrl.typeBackground }}')"
		ng-class="ctrl.item.rarity.toLowerCase()">
	<div class="item" 
			style="background-image: url('{{ ctrl.isLoaded() ? ctrl.item.iconUrl : '' }}')">
		<div ng-if="ctrl.isBusy()" class="progress-indicator animating"></div>
	</div>
</div>

<!-- Parked for now. -->
<!-- <item-tooltip ng-if="ctrl.isLoaded() && ctrl.getTootipVisibility()"></item-tooltip> -->