@offsetX: -25px;
@offsetXSpacing: 64;

.pip {
  width: 14px;
  height: 52px;
  display: inline-block;
  background-position-x: @offsetX;
  background-position-y: -38px;
}

.emptyPip {
  margin-right: -5px;
  width: 14px;
  height: 52px;
  display: inline-block;
  background-repeat: no-repeat;
}

// create an animtion or something on hover
// .two {
//   background-position-x: @offsetX - @offsetXSpacing;
// }

// .three {
//   background-position-x: @offsetX - (@offsetXSpacing * 2);
// }

// .four {
//   background-position-x: @offsetX - (@offsetXSpacing * 3);
// }

// .five {
//   background-position-x: @offsetX - (@offsetXSpacing * 4);
// }

// .six {
//   background-position-x: @offsetX - (@offsetXSpacing * 5);
// }

// .seven {
//   background-position-x: @offsetX - (@offsetXSpacing * 6);
// }