<form ng-submit="ctrl.sendData()">
	<div class="message-box error">{{ ctrl.error }}</div>

	<div class="row">
		<div class="label-container">
			<label class="label" for="register-email">Email</label>
		</div>

		<div class="input-container">
			<input placeholder="Email" ng-keyup="ctrl.checkEmail()" class="control" id="register-email" type="email" ng-model="ctrl.user.email" required="required" />
			
			<input-validity 
				data-busy="ctrl.emailLoading"
				data-valid="ctrl.user.emailAvailable">
			</input-validity>
		</div>
	</div>

	<div class="row">
		<div class="label-container">
			<label for="register-alias">Alias</label>
		</div>

		<div class="input-container">
			<input placeholder="Alias" ng-keyup="ctrl.checkAlias()" id="register-alias" type="text" ng-model="ctrl.user.alias" required="required" />

			<input-validity 
				data-busy="ctrl.aliasLoading"
				data-valid="ctrl.user.aliasAvailable">
			</input-validity>
		</div>
	</div>

	<div class="row">
		<div class="label-container">
			<label for="register-password">Password</label>
		</div>

		<div class="input-container">
			<input placeholder="Password" ng-keyup="ctrl.checkPasswords()" id="register-password" type="password" ng-model="ctrl.user.password" required="required" />

			<input-validity
				data-valid="ctrl.user.passwordsValid ">
			</input-validity>
		</div>
	</div>

	<div class="row">
		<div class="label-container">
			<label for="register-confirm-password">Confirm Password</label>
		</div>

		<div class="input-container">
			<input placeholder="Confirm Password" ng-keyup="ctrl.checkPasswords()" id="register-confirm-password" type="password" ng-model="ctrl.user.password2" required="required" />

			<input-validity
				data-valid="ctrl.user.passwordsValid ">
			</input-validity>
		</div>
	</div>

	<div class="button-group">
		<busy-button button-disabled="!ctrl.validateUser()" busy="ctrl.loading">
			Register
		</busy-button>
	</div>
</form>