.header {
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	padding: 1em;
	min-height: 3.5em;
	text-align: center;
}

header-block {
	display: flex;
}

.site-title {
	font-family: Open Sans;
	margin: 0;
	margin-bottom: -10px;
	font-size: 1.5rem;
	font-weight: bold;
}

@media only screen and (min-width: @mobile) {
	.header {
		text-align: left;
	}
}