<div class="message">
	Need api tokens? <a target="_blank" title="Opens in a new window" href="https://account.arena.net/applications/create"><strong>Head over to ArenaNet's applications page and create some,</strong></a> selecting the permissions you'd like. We suggest characters, inventories, builds, and pvp.
</div>

<gw2-token remove-token="ctrl.removeToken(token)" ng-repeat="token in ctrl.user.gw2Tokens" token="token" mode="view"></gw2-token>

<form ng-submit="ctrl.addToken()" class="row">
	<div class="label-container">
		<label for="add-token">Add token</label>
	</div>

	<div class="input-container">
		<input placeholder="Add token" ng-disabled="ctrl.user.addingGw2Token" ng-change="ctrl.validateToken()" id="add-token" type="text" ng-model="ctrl.newGw2Token" required="required" />

		<input-validity
			data-busy="ctrl.user.validatingGw2Token"
			data-valid="ctrl.user.validGw2Token">
		</input-validity>
	</div>

	<div class="button-group">
		<busy-button button-disabled="!ctrl.user.validGw2Token" busy="ctrl.user.addingGw2Token">
			<i class="fa fa-plus"></i>
		</busy-button>
	</div>
</form>