@title-margin: 0.75;

h1, h2, h3 {
	font-weight: normal;
	font-family: 'Menomonia';
	margin: 0;
}

h2 {
	font-size: 1.7em;
	margin: 26px 0 5px 0;
}

h3 {
	font-size: 1.7em;
	margin-bottom: @title-margin * 0.7em 0 0 0;
}