.tooltip-container {
	margin-left: 10px;
	margin-top: 10px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px;
	z-index: @top-z;
	font-size: 14px;
	max-width: 313px;
 	border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, @tooltip-opacity);
}

.item-name {
	font-size: 18px;
	height: 40px;
}

.item-pre-header {
	font-size: 16px;
}

.tooltip-icon {
	border-radius: 1px;
	border: 1px solid white;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}

.tooltip-gap {
	height: 18px;
	display: block;
}

.item-header {
	overflow: auto;
}

.item-cost {
	margin-left: 4px;
	position: relative;
}