<ul class="footer-links">
	<li>
		<a title="Come join in the discussion!" href="https://www.reddit.com/r/gw2armory">
			<i class="fa fa-reddit-square"></i>
		</a>
	</li>

<!-- 	<li>
		<a title="Guild Wars 2 Homepage" href="https://www.guildwars2.com">
			guildwars2.com
		</a>
	</li>

	<li>
		<a title="ArenaNet Homepage" href="https://www.arena.net">
			arena.net
		</a>
	</li> -->

	<li>
		<a title="Check out the code!" href="https://github.com/madou/armory-ng">
			<i class="fa fa-github-square"></i>
		</a>
	</li>
</ul>

<p>
	© 2010–2015 ArenaNet, LLC. All rights reserved. Guild Wars, Guild Wars 2, Guild Wars 2: Heart of Thorns, ArenaNet, NCSOFT, the Interlocking NC Logo, and all associated logos and designs are trademarks or registered trademarks of NCSOFT Corporation. All other trademarks are the property of their respective owners.
</p>