search-box {
	display: inline-block;

	i {
		font-size: 1rem!important;
	}
}

input[type=text].searchBox {
	font-size: 1em;
	width: 17em;
	font-weight: bold;
	background-color: transparent;
}

.searchBoxContainer {
	display: inline-block;
	transition: width 0.2s;
}