<div class="characters-slider-border-container top">
	<div class="characters-slider-border top-left"></div>
	<div class="characters-slider-border right"></div>
</div>

<div class="characters-slider-container">
	<a ng-if="!ctrl.sliderControlsDisabled" 
		href="" 
		class="slider-control left" 
		ng-click="ctrl.previous()">
		<span>Next</span>
	</a>

	<div class="slider-message" 
		ng-if="!ctrl.hasCharacters">
		Oh, you have no characters.. why not <a href="/settings"><strong>add a few api tokens</strong></a> to your account?
	</div>

	<ul ng-show="ctrl.hasCharacters" 
		class="characters-slider" 
		ng-style="ctrl.sliderStyle">
		<li class="characters-slider-item" 
			ng-repeat="c in ctrl.characters track by $index">
			<character-headshot character="c"></character-headshot>
		</li>
	</ul>

	<a ng-if="!ctrl.sliderControlsDisabled" 
		href="" 
		class="slider-control right" 
		ng-click="ctrl.next()">
		<span>Previous</span>
	</a>
</div>

<div class="characters-slider-border-container bottom">
	<div class="characters-slider-border bottom-left"></div>
	<div class="characters-slider-border right"></div>
</div>