input {
	border: none;
	border-bottom: 1px solid @text-secondary;
}

input[type=button].negative,
button.negative {

}

button[disabled] {
	opacity: 0.7;
}
	
input[type=button].primary,
button.primary {
	border: none;
	background-color: @accent;
}

.button-group {
	display: flex;
	justify-content: flex-end;
}

input[type=button],
button {
	transition: background-color 0.3s, opacity 0.3;
	font-size: 1.1em;
	border-radius: 1px;
	.box-shadow-low;
	opacity: 1;
	transition: 0.3s box-shadow;
	font-weight: bold;
}

input[type=button]:focus,
input[type=button]:hover,
button:hover,
button:focus {
	.box-shadow-medium;
}

input[type=text],
input[type=password],
input[type=email] {
	padding: 0.4em;
	width: 100%;
	margin: 0;
	font-size: 1.5em;
}

@media only screen and (min-width: @mobile) {

}

@media only screen and (min-width: @tablet) {
	input[type=button].positive,
	button.positive {
		// font-size: 1em;
	}
}

@media only screen and (min-width: @pc) {

}

@media only screen and (min-width: @big-pc) {

}