<div mouse-follow class="tooltip-container tooltip-container-default pixelated">
	<div ng-if="!ctrl.isBusy()">
		<i class="item-pre-header dark-gray serif">{{ ctrl.typeName }}</i>

		<div class="item-tooltip-content" ng-if="ctrl.isLoaded()">
			<div class="item-header">
				<span class="text-middle icon icon-mini tooltip-icon" style="background-image: url('{{ ctrl.model.icon }}')"></span>

				<span class="text-middle item-name item-name-default serif" ng-class="ctrl.model.rarity.toLowerCase()">
					{{ ctrl.model.name }}
				</span>
			</div>

			<div class="item-is-gear">
				<div ng-if="ctrl.model.details.defense">
					Defense: <span class="green">{{ ctrl.model.details.defense }}</span>
				</div>

				<div ng-if="ctrl.model.type === 'Weapon'">
					<span>Weapon Strength:</span>
					<span class="green">{{ ctrl.model.details.min_power }} - {{ ctrl.model.details.max_power }}</span>
				</div>
				
				<!-- todo: parse some values that are one word into do (i.e. conditiondamage -> condition damage) -->
				<div class="green" ng-repeat="infix in ctrl.model.details.infix_upgrade.attributes">
					{{ '+' + infix.modifier + ' ' + infix.attribute }}
				</div>

				<upgrade-component ng-if="ctrl.model.has_slot_one" upgrade="ctrl.model.details.upgrade_one"></upgrade-component>

				<upgrade-component ng-if="ctrl.model.has_slot_two" upgrade="ctrl.model.details.upgrade_two"></upgrade-component>

				<div class="tooltip-gap"></div>

				<div class="skin-details">
					<div ng-if="ctrl.model.original_name">Transmuted</div>

					<!-- todo: if account owned skins is released make this update if the user is logged in -->
					<div ng-if="!ctrl.model.original_name">Skin Locked</div>
					{{ ctrl.model.original_name || ctrl.model.name }}
				</div>
			</div>

			<div class="tooltip-gap"></div>

			<div class="item-summary">
				<div>{{ ctrl.model.rarity }}</div>
				
				<div>{{ ctrl.model.details.weight_class }}</div>
				
				<div>{{ ctrl.model.details.type }} {{ ctrl.model.type }}</div>
				
				<div>{{ ctrl.model.description }}</div>
				
				<div ng-if="ctrl.model.level">
					{{ 'Required Level: ' + ctrl.model.level }}
				</div>

				<div>{{ ctrl.model.boundStatus }}</div>

				<div class="item-cost">
					<span class="gold" ng-if="ctrl.model.gold">
						{{ ctrl.model.gold }}
						<span class="icon icon-micro icon-gold sticky-bottom"></span>
						<span class="icon icon-micro"></span>
					</span>

					<span class="silver" ng-if="ctrl.model.silver">
						{{ ctrl.model.silver }}
						<span class="icon icon-micro icon-silver sticky-bottom"></span>
						<span class="icon icon-micro"></span>
					</span>

					<span class="copper" ng-if="ctrl.model.copper">
						{{ ctrl.model.copper }}
						<span class="icon icon-micro icon-copper sticky-bottom"></span>
						<span class="icon icon-micro"></span>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="ctrl.isBusy()" class="progress-indicator animating"></div>
</div>