.ic-attribute {
	margin: 0.5em;
}

.ic-attack-power {
	background: url('https://wiki.guildwars2.com/images/2/23/Power.png');
}

.ic-precision {
	background: url('https://wiki.guildwars2.com/images/e/ee/Precision.png');
}

.ic-toughness {
	background: url('https://wiki.guildwars2.com/images/1/12/Toughness.png');
}

.ic-vitality {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-condition-duration {
	background: url('https://wiki.guildwars2.com/images/2/23/Power.png');
}

.ic-boon {
	background: url('https://wiki.guildwars2.com/images/e/ee/Precision.png');
}

.ic-condition-damage {
	background: url('https://wiki.guildwars2.com/images/1/12/Toughness.png');
}

.ic-ferocity {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-healing {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-armor {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-health {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-critical-damage {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-critical-chance {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-magic {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

.ic-agony {
	background: url('https://wiki.guildwars2.com/images/b/be/Vitality.png');
}

character-attributes {
	display: block;
}

.attribute-container {
	display: flex;
	flex-wrap: wrap;
}

.attribute {
	display: flex;
	width: 50%;
	align-items: center;
	// justify-content: center;

	> span {

	}
}