<form class="row">
	<div class="message">{{ ctrl.user.passwordErrors[0] }}</div>

	<div class="input-container">
		<input placeholder="Current password" ng-disabled="ctrl.busy" id="add-token" type="text" ng-model="ctrl.user.currentPassword" required="required" />

		<input-validity
			data-busy="ctrl.busy"
			data-valid="ctrl.token.valid">
		</input-validity>
	</div>

	<div class="input-container">
		<input placeholder="New password" ng-change="ctrl.checkPasswords()" ng-disabled="ctrl.busy" id="add-token" type="password" ng-model="ctrl.inputs.password1" required="required" />

		<input-validity
			data-busy="ctrl.busy"
			data-valid="ctrl.token.valid">
		</input-validity>
	</div>

	<div class="input-container">
		<input placeholder="Confirm new password" ng-change="ctrl.checkPasswords()" ng-disabled="ctrl.busy" id="add-token" type="password" ng-model="ctrl.inputs.password2" required="required" />

		<input-validity
			data-busy="ctrl.busy"
			data-valid="ctrl.token.valid">
		</input-validity>
	</div>

	<div class="button-group">
		<busy-button button-disabled="!ctrl.user.validPassword" busy="ctrl.user.savingPassword">
			<i class="fa fa-floppy-o"></i>
		</busy-button>
	</div>
</form>