@import '../../../styles/box-shadow/box-shadow.less';

avatar {
	display: inline-block;
}

.name {
	display: block;
	margin: 0;
	text-align: center;
}

.inherit {
	display: inherit;
}

.image {
	width: 8em;
	height: 8em;
	.low;
	border-radius: 10px;
}

.smallMode {
	box-shadow: none;
	width: 2em;
	height: 2em;
}