@import '../../../styles/box-shadow/box-shadow.less';
@import '../../../styles/variables/colours.less';

avatar {
	display: inline-block;
}

.name {
	display: block;
	margin: 0;
	text-align: center;
}

.inherit {
	display: inherit;
}

.image {
	width: 8em;
	height: 8em;
	.low;
	border-radius: 10px;
	background-color: @card-bg;
}

.smallMode {
	box-shadow: none;
	border-radius: 4px;
	width: 1.5em;
	height: 1.5em;
}