@import '../../../styles/variables/sizes.less';

.brushStroke {
	background-image: url('../../../../assets/images/brush-stroke-2-3.png');
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 40px;
	height: 147px;
	width: 698px;
	z-index: -1;
}

header {
	display: block;
	background-repeat: no-repeat;
	background-position: top center;
	position: relative;
	min-height: 147px;
	flex-shrink: 0;
	margin-bottom: 3em;
}

.title {
	display: none;
}

.homeLink {
	display: inline-block;
	height: 147px;
	width: 150px;
}